@tailwind base;
@tailwind components;
@tailwind utilities;

body,
body[data-theme="light"] {
  --color-text-primary: #27201a;
  --color-text-secondary: #076963;
  --color-bg-primary: #fff;
}

body[data-theme="dark"] {
  --color-text-primary: white;
  --color-text-secondary: #DAC7FF;
  --color-bg-primary: #3F3649;
  --color-bg-hover: #7151A9;
}

body {
    background: var(--color-bg-primary);
    color: var(--color-text-primary);
    font-family: sans-serif;
    transition: background 0.25s ease-in-out;
  }
  
  h1 {
    color: var(--color-text-secondary);
  }

  .button--theme-toggle{
    height: 1em;
  }
  .button--theme-toggle:hover{
    height: 1em;
    width: 1em;
    background-color: var(--color-bg-hover);
  }
