@tailwind base;
@tailwind components;
@tailwind utilities;

body,
body[data-theme="light"] {
  --color-text-primary: #413a46;
  --color-text-secondary: #573D7F;
  --color-bg-primary: #f3edff;
  --color-bg-secondary: #ffffff;
}

body[data-theme="dark"] {
  --color-text-primary: white;
  --color-text-secondary: #DAC7FF;
  --color-bg-primary: #413a46;
  --color-bg-secondary: #5e526e;
  --color-button-primary: #AC8BEE;
}

body {
  background: var(--color-bg-primary);
  color: var(--color-text-primary);
  font-family: sans-serif;
  transition: background 0.25s ease-in-out;
}

h1 {
  color: var(--color-text-secondary);
}

.button{ 
  color: var(--color-text-primary);
  background-color: var(--color-button-primary);
}

.button--theme-toggle {
  height: 1em;
}

.button--theme-toggle:hover {
  height: 1em;
  width: 1em;
  background-color: var(--color-bg-hover);
}